name: Build APK

on:
  push:
    branches:
      - main  # Verifique se o nome da sua branch principal é 'main' ou 'master'
  workflow_dispatch: # Permite rodar manualmente o build

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # AQUI ESTÁ A CORREÇÃO: Usando a versão 3.24.0 que é compatível com o Flet novo
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet
          # Se tiver um requirements.txt, descomente a linha abaixo:
          # pip install -r requirements.txt

      - name: Build APK
        run: |
          flet build apk --verbose

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
